<div class="mx-3">
  <div class="row">
    <div class="col-10">
      <a class="text-decoration-none" href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="bi bi-arrow-bar-left me-1"></i>More posts
      </a>
      <img src="/images/roda.jpeg" class="img-fluid my-3 rounded" alt="roda.jpeg" width="1920" height="400">
      <h1 class="lead font-monospace mt-2"><%= @post.title %></h1>
      <p class="font-monospace text-white fst-italic"><%= @post.created_at.strftime('%B %d, %Y') %></p>
      <%= Kramdown::Document.new(@post.content).to_html %>
    </div>
    <div class="col-2 my-3">
      <div class="sticky-top" style="top: 1em">
        <p class="font-monospace mx-1">
        <i class="bi bi-stopwatch me-2"></i><%= @post.reading_time %>
        </p>
        <% @post.post_reactions.sort_by(&:id).each do |post_reaction| %>
          <a href="/post_reactions?id=<%= post_reaction.id %>" class="text-decoration-none mx-1">
            <button type="button" class="btn btn<%= @cookies["reaction_#{post_reaction.id}"] ? '' : '-outline' %>-light rounded my-1 my-lg-0">
              <%= post_reaction.count %><i class="ms-1 bi bi-<%= post_reaction.reaction.slug %>-fill"></i>
            </button>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <p class="offcanvas-title font-monospace ms-3" id="offcanvasWithBothOptionsLabel">But wait, there's more!</p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <% @all_posts.each do |post| %>
        <li class="list-group-item">
          <a class="text-decoration-none" href="/posts/<%= post.slug %>"><%= post.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
